h1 {
  background-color: rgb(226, 199, 148);
  padding: 20px;
  margin: 0;
}

.filterSection {
  padding: 20px;
}

.ui.centered.cards :hover{
  transform: scale(1.05)
}

/* body {
  background-color: rgb(172, 131, 56);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 .App {
  text-align: center;
}